GCLOUD_FM_URL=https://fleet-management.grafana.net # Your URL from the Alloy collector
GCLOUD_FM_USERNAME=000000
GCLOUD_FM_PASSWORD=glc_RANDOM_STRING

NAMESPACE="monitoring"
BOUTIQUE_NS="boutique"
GRAFANA_SA_TOKEN="glsa_RANDOM_STRING"
GRAFANA_STACK="YOUR_STACK" # (i.e. https//YOUR_STACK.grafana.net/)
GRAFANA_EXECUTIVE_DASHBOARD="onlineboutique-executivedashboard" # From the dashboards directory
FARO_COLLECTOR_URL="COLLECTOR_URL"
FARO_APP_NAME="Online Boutique"